/*  your css code here. If applicable */
        /* Add any additional CSS styling here */
        .block-heading {
            text-align: center;
            color: #3b99e0;
        }
        .summary {
            border-top: 2px solid #5ea4f3;
            background-color: #f7fbff;
            padding: 20px;
        }
        .product {
            margin-bottom: 20px;
        }
    